body {
  padding-top: 185px;
  min-width: 380px;
}
nav {
   -webkit-transition: 1s;
   -o-transition: 1s;
   transition: 1s;
}
 nav .navbar-brand {
   font-size: 30px;
}
 nav .navbar-toggle {
   margin: 13px 15px 13px 0;
   background-color: #222;
}
 nav a {
   font-size: 18px;
   padding-bottom: 20px !important;
   padding-top: 20px !important;
   -webkit-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

#navbar{
  -webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.83);
    box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.3);
}

.navbar-inverse {
  background-color: white!important;
}
 
 h1, h2, h4, h5, p, a {
 font-family: 'Montserrat', sans-serif!important;
}
h3 {
  font-family: 'Oswald', sans-serif!important;
}

.shrink {
   min-height: 35px;
}
 .shrink .navbar-brand {
   font-size: 25px;
}
 .shrink a {
   font-size: 15px;
   padding-bottom: 10px !important;
   padding-top: 10px !important;
}
 .shrink .navbar-toggle {
   margin: 8px 15px 8px 0;
   padding: 4px 5px;
}

.shrink li a {
  line-height: 30px!important;
 }


#logo {
   margin-top:5px;
  -webkit-transition:all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-transition:all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition:all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  text-align: center;
  padding: 25px 0;
  border-bottom: 1px solid lightgrey;
  
 
}

#logoSmall{
  float:left;
  padding-right: 60px;
  padding-top:15px;
  height:20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width:0;
  height:0;
  opacity: 0;
  

}

#nav, #logoSmall{
    -webkit-transition:all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition:all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition:all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

.navbar-brand {
  padding: 0 15px!important;
  height: 50px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #222!important;
    font-weight: bolder!important;
    background-color: white!important
  }

  .navbar-inverse .navbar-nav>li>a {
    color: #000!important;
  }

#myVideo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  
  z-index: -1000; 
}
 
#homepage-video-container{
 width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  margin-bottom: 10px;
 
}

.fifty-percent {
  width: 100%;
 
}

#homepage-video-container-left
{  overflow: hidden;
  
}

#homepage-video-container-right{
  background-color: #222; 

  
}

.transparent-black{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.2);
  z-index: 1;
      margin-top: -605px;
}

#welcomeMessage{
  color: white;
      margin-left: 70px;
    margin-top: 172px;
        padding-right: 70px;
}

#welcomeMessage h1{
  font-weight: bolder;
  font-size: 6em;

}

#welcomeButtons{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

#welcome, #hello, #welcomeButtons {
 
  opacity:0;
  }

#welcome{
   margin-left:-50px;
      padding-bottom:30px;
          padding-left: 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 2rem;

}
#hello{
   margin-left:50px;
      padding-bottom:20px;

}
#welcomeButtons{
  margin-top:50px;
   border: 2px solid white;
   width:304px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   border-radius: 20px;
   text-align: center;
   -webkit-transition: 0.5s ease;
   -o-transition: 0.5s ease;
   transition: 0.5s ease;

   

}

/*#welcomeButtons:hover{
  background: #fc2602;

  }*/

#welcomeButtons a:hover{
  text-decoration: none;
  
}

#hireMe, #myPortfolio {
  width: 150px;
  padding:0;
  margin:0;
 
}

#welcomeButtons + #myPortfolio:hover  {
  background: #fc2602;
}

#hireMe:hover, #myPortfolio:hover {
 text-decoration: none;
 
 
}
#hireMe p, #myPortfolio p{
  
   padding:10px 0;
  margin:0;
  color:white;
  text-decoration: none;
}
  
#hireMe{
  border-right: 2px solid white;
  border-radius: 20px;
  background-color: #fc2602;

}



.content-area{
  width:100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;

  padding:100px 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.content-area-portfolio{
  width:100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;

  padding:50px 0 50px 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.full-width{
  width: 100%!important;
  max-width:100%!important;

}
/*
.bstb{
   
box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.75), 0px -6px 8px -3px rgba(0, 0, 0, 0.75);
}*/


.white{
    background: #fff;
}

.grey{
  background-color: #e6e6e6
}

.blue{
 background-color:  #fc2602!important
}
.orange-text{
  color: #fb2e01;
}

.tac{
  text-align: center;
  }

  .tar{
    text-align: right;
    
  }
  .tal{
    text-align: left; 
  }

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  }

.jc-sa{
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-c{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bold{
  font-weight: bolder;
}

/*.border-top{
      border-top: 2px solid #fb2e01;
}*/
.icon-box{
/*border: 0.5px solid black;*/
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    background-color: #adadad;
    color: white;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;}

.homepagebox:hover .icon-box {
    background: #fc2602;
    color: #fff; 
   -webkit-transform: rotate(360deg); 
       -ms-transform: rotate(360deg); 
           transform: rotate(360deg);
}



.homepagebox{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
  width:20%;
  
 }

.homepagebox h2{
  font-size:20px;
  font-weight:bold;
  text-transform:uppercase;
}

#profilephoto{
    border-radius: 50%;
 /*   border: 5px solid #fc2602;*/
    overflow: hidden;
    width: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 400px;
 /*       -webkit-box-shadow: -4px 8px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 8px 10px -5px rgba(0,0,0,0.75);
    box-shadow: -3px 4px 3px 0px rgba(0,0,0,0.75);*/
    margin-right: 30px;
}

#reviewphoto{
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
    max-width: 200px;
    min-width: 200px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    min-height: 200px;
    max-height: 200px;
    margin-right:30px;
}

#profilephoto img {
  width: 100%;
  margin-top: -50px;
}

#reviewphoto img{
  width: 100%;
 
}



#aboutblurb{
  max-width:600px;
  margin-left:30px;
   }

#aboutme{
      font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.aic{
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.acc{
  -ms-flex-line-pack: center;
      align-content: center;
}

.wrap{
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

p.heading-first-line {
    font-size: 20px;
    text-decoration: underline;
    -webkit-text-decoration-color: #fc2602;
            text-decoration-color: #fc2602;
        font-family: 'Oswald', sans-serif!important;
            text-align: center;
            text-transform: capitalize;
  }


input.portfolioButton {
  
    border: 1px solid #333;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 3px;
    margin-left: 3px;
    width: 130px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif!important;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 4px 0px rgba(0,0,0,0.75);
    font-weight: 600;
   margin-bottom: 30px;
    margin-top: 30px;
    background: #333;
    color: white;
}


input.portfolioButton:hover {
    background: #fc2602!important; 
    color: white!important;  
    border: 1px solid #fc2602!important;
}

.activeButton{
   background: #fc2602!important; 
   color: white!important;  
   border: 1px solid #fc2602!important;
}


.portfolio-box, .graphic-box{
  margin:5px;
  position: relative;

  -webkit-transition: all 0.5s ease;

  -o-transition: all 0.5s ease;

  transition: all 0.5s ease;
  
}

.portfolio-box img, .graphic-box img{
display: block;
  width: 100%;
  height: auto;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgb(34, 34, 34, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
}

.portfolio-box:hover .overlay, .graphic-box:hover .overlay {
  height: 100%;
      opacity: 1;
}

.slideText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width:300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;


}

.slideText h2{
  font-size: 17px;
  padding:0;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0;
}

.slideText p{
  font-size: 15px;
  padding:0;
  text-transform: capitalize;
  font-weight: normal;
  margin: 10px 0;
}

.slideButtons{
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slideButtons p{
  padding: 5px;
  margin: 0;
}


.learnmoreButton, .gotoButton{
  border: 1px solid white;
  height: 100%;
  background: white;
    color: #333;
    border-radius: 20px;
    width: 120px;
    cursor: pointer!important;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    
}
  


.gotoButton a{
  color: #333;
  text-decoration:none;
  }
.gotoButton:hover{
  background-color: #fc2602;
   border: 1px solid #fc2602;

}
.gotoButton a:hover{
  color: white;
  text-decoration:none;
  }

  .learnmoreButton:hover {
    color: white;
    background-color: #fc2602;
    border: 1px solid #fc2602;
  text-decoration:none;
}

  .sub-headding{
        margin-bottom: 0px;
    margin-top: 0px;
     font-size: 40px;
    font-weight: bolder;
    text-transform: capitalize;
  }

 .blue-box {  /*is now actually grey*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: white;
    background: #333;
    padding: 5px 0 10px 0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #333;
    text-align: center;
  }

  .myWork{
      width: 310px;
  }

   .clients{
      width: 290px;
  }

    .blurb{
      width: 200px;
  }

  .zero-padding{
    padding:0!important;
  }

  .twocolleft{
  width:32%;
  float: left;
    line-height:30px;
  font-size: 30px;
  text-align: right;
  padding-bottom:5px;
  
  
}
.twocolright{
  width:58%;
  float: left;
  display:inline-block;
  font-size: 30px;
  margin:0;
  line-height: 35px;
  padding-bottom:5px;
  
}

img#logofooter {
  vertical-align: middle;
  width: 126px;
  height:auto;
}


.twocolleft p{
    margin:0;
    color: white;
    padding-right:20px;

}

#twocol{
  padding-bottom:60px;
  border-bottom: 1px dashed #fb2e01;
      overflow: auto;
}

  #HTML, #CSS, #JS, #PHP, #Photoshop, #ACCS, #Wordpress, #SEO, #MSOS{
    width: 0px;
    height: 26px;
    margin: 2px 0 2px 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    box-shadow: -2px 2px 0px 0px rgba(255,255,255,0.8);
    -webkit-box-shadow: -2px 2px 0px 0px rgba(255,255,255,0.8);
   
}

.barPlaceHolder{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
   color: white;
    line-height: 26px;
    font-size: 20px;
}

.barPlaceHolder p{
  margin-left: 5px;
  margin-bottom: 0;
}

  

  .barBlue{
    background-color: #fc2602;
  }

  .dark-grey{
    background: #222;
  }

  #skill{
   
    position: relative;
    z-index: -2;
  }

  .of-a{
    overflow: auto;
  }

.background-text {
    position: absolute;
    top: 68%;
    text-align: center;
    width: 100%;
    opacity: 0.2;
    color: white;
    font-size: 200px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif!important;

}


.parallax {
    background: url(https://iamjmitch.com/assests/images/skills3.png) repeat ;
    
    background-attachment: fixed;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.1;
    z-index: -1;
}

.parallax2 {
    background: url(https://iamjmitch.com/assests/images/hello.png) repeat ;
   
    background-attachment: fixed;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.1;
    background-position: 50% 72%;
    z-index: -1;
}

.timed{
  position: relative;
}


/*Form CSS*/

#contactFormContainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.formHeader{
       border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
    text-transform: capitalize;
    height: 80px;
    color: white;
    font-family: 'Oswald', sans-serif!important;
}

input.grey.full-width, input.grey,textarea.grey{
    margin: 0 15px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;
    width: 100%
}

textarea.grey{
    margin: 0 15px;
    height: 150px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;
    width: 100%
}



.row2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
}

.row3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 padding: 10px 15px 10px 25px;

}

button.blue{
    height: 40px;
    border: none;
    line-height: 15px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 10px;
    font-size: 15px;
    padding: 10px 15px;
    color: white;
    width: 50%;
  }

.formContent{
      border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 0;
}


#contacta{
  position: relative;
  z-index: 1;
}

#contact{
  position: relative;
}

/*Footer*/



#footer{
      width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}



/*Modal CSS*/


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
background-color: rgba(0, 0, 0, 0.7);
-webkit-transition: 1s ease;
-o-transition: 1s ease;
transition: 1s ease;
font-family: Oswald, sans-serif;
}

.modal-content{
  background-color: #f4f4f4;
  margin: auto;     
-ms-flex-item-align: center;     
    -ms-grid-row-align: center;     
    align-self: center;
  padding: 0;
  max-width: 1000px;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
          box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

#closeBtn{
    float: right;
    color: #ccc;
    font-size: 50px;
    padding-right: 10px;
    line-height: 35px;
  }

#closeBtn:hover, .clostBtn:focus{
  color: #fc2602;
  text-decoration: none;
  cursor: pointer;
  
}

.modalFlexContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
padding: 20px 20px 0 20px;
}

.modalHeading h3{
  text-align: center;
  margin: 0;
  
  padding: 15px 0;
  font-size: 40px;
      font-family: 'Oswald', sans-serif!important;
      color: white;
      
     
      font-weight: normal;
      
}

.modalHeading{
  background-color: #333;

}

.modal-bullets{
  width:40%;
}

.modal-image{
width: 60%;
}
.modal-image{
  text-align: center;
  
}

.modal-bullets{
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
    color: #333;
    font-size: 17px;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.modal-bullets-container{
  -ms-align-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left:25px;

}
.modal-bullets-container ul{
  margin: 0;
  padding: 0;
}


.modal-image img{
  width:100%;
}

.modal-text{
  padding: 15px;
  text-align: center;
  
}

.modal-text h5{
  color: #fc2602;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 20px 0 10px 0;
}

.modal-icons{
  font-size:  40px;
  color:#fc2602;
  margin-top:10px;
  margin-left: -5px;


}

.modal-icons img{
   padding: 0 5px;
}

.pier{
  height: 400px;
  width: auto!important;
}

i {
    padding: 0 5px;
}

/* ________________________1800px______________________ */

@media only screen and (max-width: 1920px) {
  .portfolio-box, .graphic-box {   
    width: 400px!important;
  }
}

/* ________________________1200px______________________ */
@media only screen and (max-width: 1200px) {

  .portfolio-box, .graphic-box {   
    width: 48%!important;
  }
  
  .transparent-black {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.2);
    z-index: 1;
    margin-top: -505px;
  }
  
  #logoSmall {
    float: left;
    padding-right: 20px;
    padding-top: 18px;
    height: auto;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 0;
    height: 0;
    opacity: 0;
    }

    #homepage-video-container {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 500px;
      margin-bottom: 10px;
    }
    #welcomeMessage {
      color: white;
      margin-left: 70px;
      margin-top: 111px;
      padding-right: 70px;
  }

  #logo img {
    vertical-align: middle;
    width: 300px;
}

  #nav a {
    font-size: 15px!important;
  }

  #profilephoto {
    border-radius: 50%;
    /* border: 5px solid #fc2602; */
    overflow: hidden;
    min-width: 200px;
    max-width: 200px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
     min-height: 200px;
    max-height: 200px;
    margin-right: 30px;
}

#logoSmall {
  float: left;
  padding: 9px;
  padding-top: 13px;
  padding-right: 10px;
  height: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 0;
  height: 0;
  opacity: 0;
}
  }


/* ________________________1000px______________________ */
@media only screen and (max-width: 1000px) {
  .portfolio-box, .graphic-box {   
    width: 400px!important;
    
  }
  #logoSmall {
    float: left;
    padding: 9px;
    padding-top: 13px;
    padding-right: 10px;
    height: auto;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 0;
    height: 0;
    opacity: 0;
}

.modal-content{
  background-color: #f4f4f4;
  margin: auto;     
-ms-flex-item-align: center;     
    -ms-grid-row-align: center;     
    align-self: center;
  padding: 0;
  max-width: 96%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
          box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

}
/* ________________________906px______________________ */
@media only screen and (max-width: 906px) {
  div#homepage-video-container-left {
    display: none;
}

div#homepage-video-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#homepage-video-container-right {
  background-image: url(./assests/images/mobile-header.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top;
}

#profilephoto img {
  width: 100%;
  margin-top: -30px;
}

div#AboutMe {
  padding: 0 20px;
}

.portfolio-box, .graphic-box {
  width: 350px!important;
}

.twocolleft {
  width: 39%;
  float: left;
  line-height: 30px;
  font-size: 30px;
  text-align: right;
  padding-bottom: 5px;
}

#logoSmall {
  float: left;
  padding: 13px;
  padding-right: 20px;
  height: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 0;
  height: 0;
  opacity: 0;
}

/* .twocolleft {
  width: 32%;
  float: left;
  line-height: 32px;
  font-size: 32px;
  text-align: right;
  padding-bottom: 5px;
} */





}
/* ________________________796px______________________ */
@media only screen and (max-width: 796px) {

  
  .twocolleft {
    width: 36%;
    float: left;
    line-height: 30px;
    font-size: 24px;
    text-align: right;
    padding-bottom: 5px;
}

#contactFormContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#homepage-video-container-right{
  background-image: url(./assests/images/mobile-header.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top;
}

}

/* ________________________768px Mobile Start______________________ */
 @media only screen and (max-width: 768px) {
  img#logoSmall {
    width: 100px!important;
    padding:0;
    padding: 23px;
    margin: auto 0;
  }

  .content-area.flex.jc-sa.services{
    display:none;
  }

  #nav a {
    font-size: 15px!important;
    padding: 10px 15px!important;
    line-height: 30px;
}

/* .modalFlexContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  align-items: center;
} */

.modal-content {
  width: 90%;
}

.modalFlexContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalHeading h3 {
 
  font-size: 25px;
  
}
.modal-image {
  width: 40%;
}

.modal-bullets {

  font-size: 15px;
}

.modal-text {
  padding: 8px 15px;
  text-align: center;
}





  
 
} 



@media only screen and (max-width: 695px) {

  .content-area.flex.jc-sa.services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 20px;
}

input.portfolioButton {
  
  width: 99px;
}
    
    


.homepagebox {
  margin-bottom: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
  width: 50%;
}

.content-area.flex.tal.aic.jc-sa.about, .content-area.flex.tal.aic.jc-c.testimonial {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profilephoto, #reviewphoto{
  margin: 0;
  margin-bottom: 20px;
}

#aboutblurb {
  max-width: 600px;
  margin-left: 0;
}

.portfolio-box, .graphic-box {
  width:90%!important;
}
}



@media only screen and (max-width: 667px) {
  div#welcomeMessage {
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.content-area.flex.tal.aic.jc-c.testimonial {
  padding: 40px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  background:white!important;
}

.twocolleft, .twocolright {
  
  font-size: 16px;
  
}

.content-area.flex.jc-sa.services {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

}


@media only screen and (max-width: 570px) {

  .modalFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-bullets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bullets{
  width: 100%;
  margin-left: 0;
}

.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-image {
  width: 60%;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 30px;
  padding-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input.grey.full-width {
  margin: 0;
  margin-bottom: 10px;
}

textarea.grey {
  margin: 0;
}

.row3{
  padding-left: 30px;
    padding-right: 20px;
}
}