* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  font-family: 'Montserrat', sans-serif !important;
}

p {
  font-size: 16px;
}

html {
  background-color: #e5e5e5;
  padding: 10px;
  min-width: 320px;
}

svg {
  max-width: 40px;
  max-height: 40px;
}

h2 {
  /* padding-bottom: 20px; */
  font-size: 25px;
  font-weight: bolder;
  line-height: 40px;
  /* padding-left: 10px; */
}

h4 {
  padding-bottom: 10px;
  overflow: visible !important;
}

.heading {
  -webkit-transform: 0.2s;
  -ms-transform: 0.2s;
  transform: 0.2s;
}
/* .heading:after {
  content: ' ';
  float: right;
  margin-right: 35px;
  font-size: 20px;
  width: 5px;
  height: 5px;
  border: solid #ce3100;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 10px;
  -webkit-transform: 0.2s;
  -ms-transform: 0.2s;
  transform: 0.2s;
} */

.extraPaddingBottom {
  padding-bottom: 20px !important;
}

#resumeContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap; */
}

#resumeLeft {
  width: 70%;
  margin-right: 10px;
  float: left;
  grid-area: left;
}

#resumeContainer {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-areas: 'left right';
}

#resumeLeft {
  width: unset;
}

/* #workXP,
#education,
#interests,
#footer {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 30px 0 0 10px;
  margin-bottom: 10px;
} */

/* .boxLeft {
  min-width: 120px;
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 6px;
} */

/* .boxRight {
  width: 100%;
} */

.duration {
  color: #ce3100;
}

#workXP,
#education,
#interests,
#footer {
  background: white;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  margin-bottom: 10px;
}

.sectionHeadingBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 10px;
}

.sectionHeadingBox img {
  width: 33%;
}

.sectionIcon {
  max-width: 120px;
  display: flex;
  justify-content: center;
}

.sectionHeading {
  width: 100%;
}

.sectionBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* .sectionBox .sectionBoxContent:last-of-type {
  border-bottom: none !important;
} */

.sectionBoxContent {
  border-bottom: 2px solid #b7b7b7;
  padding: 26px 0 26px 10px;
  width: 100%;
}

.whitespace {
  min-width: 120px;
}

.textGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.boxHeading {
  display: flex;
}

.boxHeading:hover {
  cursor: pointer;
}

.arrowBox {
  overflow: visible;
  min-width: 15px;
  align-items: center;
  display: flex;
  padding-right: 40px;
}

.arrowBox img {
  width: 20px;
  transition: 0.2s;
  -ms-transform: rotate(-360deg) !important;
  transform: rotate(-360deg) !important;
  -webkit-transform: rotate(-360deg) !important;
}

.arrowBox.active img {
  -ms-transform: rotate(-180deg) !important;
  transform: rotate(-180deg) !important;
  -webkit-transform: rotate(-180deg) !important;
}

.boxText {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  background-color: white;
  padding-right: 40px;
  padding-left: 10px;
}

.boxText p {
  padding-bottom: 10px;
  font-size: 16px;
}

.boxText p:last-of-type {
  padding-bottom: 0 !important;
}

.boxText p:first-of-type {
  padding-top: 10px !important;
}

.boxText p::before {
  content: '• ';
}

.contentBox {
  padding: 10px 0;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(133, 133, 133, 1);
  box-shadow: 0px 2px 3px 0px rgba(133, 133, 133, 1);
}

.contentBox:last-of-type {
  border-bottom: none;
}

/* .boxHeading {
  position: relative;
}

.boxHeading:hover {
  cursor: pointer;
}

.boxHeading {
  padding: 10px;
} */

div#interestIcons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 40px 20px 10px;
}

#interestIcons svg {
  max-width: 52px;
  max-height: 50px;
}

/* Foooter */

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px;
}
#footer a {
  padding: 0 20px;
  color: #ce3100;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

#footer a:hover {
  color: #000000;
}

/* right sidebar  */
#resumeRight {
  background: #ce3100;
  /* max-height: 99vh; */
  min-width: 350px;
  max-width: 350px;
  margin-bottom: 10px;
  float: right;
  grid-area: right;
}

#logo {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: black;
  color: white;
}

.sidebarBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.sidebarBoxIcon {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 24px;
}
.sidebarBoxIcon svg {
  height: 30px;
}
.sidebarBoxText {
  width: 80%;
  padding: 23px 0 18px 0;
  border-bottom: 2px solid #953c06;
}

.noBorder {
  border: none !important;
}

.sidebarBoxText p {
  color: white;
  font-size: 16px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 10px;
}

.sidebarBoxText p b {
  color: #ffffffc9;
  font-size: 14px;
}

#logo svg {
  width: 100%;
  max-width: unset;
  max-height: unset;
}

.boxShadow {
  -webkit-box-shadow: -1px 4px 5px -2px rgba(0, 0, 0, 0.73);
  box-shadow: -1px 4px 5px -2px rgba(0, 0, 0, 0.73);
}

.mobileOn {
  display: none;
}

/* media query */
@media screen and (max-width: 480px) {
  .boxText {
    padding-right: 20px;
    padding-left: 0;
  }
  h4.heading {
    padding-right: 10px;
  }
  #footer a {
    padding: 0 10px;
  }

  p,
  h4,
  .duration {
    font-size: 16px;
  }
  html {
    padding: 0;
  }

  #resumeContainer,
  #resumeLeft,
  #resumeRight {
    width: 100%;
  }

  #resumeLeft {
    float: right;
    margin-right: 0;
  }

  #resumeRight {
    float: Left;
    max-width: unset;
  }

  #logo svg {
    max-width: 100%;
    height: auto;
    max-width: unset;
    max-height: unset;
  }

  #logo {
    overflow: hidden;
  }

  svg {
    max-width: 25px;
    max-height: 25px;
  }

  .boxLeft {
    min-width: 75px;
  }
  #interestIcons svg {
    max-width: 32px;
    max-height: 30px;
  }

  h4,
  .boxText p,
  .duration,
  .sidebarBoxText p {
    font-size: 16px;
  }
}

@media screen and (max-width: 951px) {
  #footer {
    padding: 30px 0;
  }

  .mobileOn {
    display: block;
  }

  .sectionIcon {
    width: 80px;
  }
  .sectionHeadingBox img {
    width: 20px;
  }

  div#interestIcons {
    padding: 15px 40px 20px 40px;
  }
  .sectionBoxContent {
    padding-left: 20px;
  }

  .arrowBox {
    padding-right: 20px;
  }
  .whitespace {
    display: none;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 16px !important;
  }
  html {
    padding: 0;
  }

  #resumeContainer,
  #resumeLeft,
  #resumeRight {
    width: 100%;
    display: block;
  }

  #resumeLeft {
    float: right;
    margin-right: 0;
  }

  #resumeRight {
    float: Left;
    max-width: unset;
  }

  #logo svg {
    max-width: 400px !important;
    height: auto;
    max-width: unset;
    max-height: unset;
  }
  #logo {
    overflow: hidden;
    background: #343434;
  }
}
